<mat-toolbar color="primary">  
    <mat-toolbar-row>
      <span>Test ({{message}})</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <button routerLinkActive="active" routerLink="/my">Load my component</button>
  <button routerLinkActive="active" routerLink="/page">Load page component</button>
  <button routerLinkActive="active" routerLink="/joke">Load joke component</button>
  <router-outlet></router-outlet>